{% extends 'generic_base.html' %}

{% block welcome_msg %}
    <h2> Welcome to Todo App </h2>
{% endblock %}

{% block content %}
<p>Hello <b>{{ user.username }}</b><p/>
<p>Todo App made by <b>Raja Das</b></p>

{% endblock %}



