<!DOCTYPE html>
<html lang="en">

<head>
    {% block title %}
    <title>Todo App</title>
    {% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css'%}" />
</head>

<body>
    <h1>Todo App</h1>
     {% block welcome_msg %}
        {% if user.is_authenticated %}
            <p>welcome to Todo App user: <span style="padding:2px;background-color:white;color:black;font-size:20px">{{ user.username }}</span>
                <a href="{% url 'logout' %}">Log out</a>
            </p>
        {% endif %}
    {% endblock %}
    {% if user.is_authenticated %}
        {% block form %}
        {% endblock %}
        {% block content %}
        {% endblock %}
        {% block pagination %}
        {% endblock %}
    {% else %}
        {% block login %}
        {% endblock %}
    
    {% endif %}
    
    {% block script %}
    {% endblock %}
</body>

</html>