{% extends "item_edit.html" %}


{% block content %}

<div class="container-fluid">
    {% if items %}

    <p>We have total todo items: <span class="badge text-bg-primary">{{count}}</span>
    </p>

    <div class="list-group">

        {% for item in items %}

        <a href="{{ item.get_absolute_url }}" class="list-group-item list-group-item-action">{{ item.item }}</a>

        {%endfor%}

    </div>

    {% else %}

    <p>No Items are found!</p>

    {% endif %}
</div>

<p>Total page seen by you {{ page_hit }} time{{ page_hit|pluralize }}</p>


{% endblock%}

{% block pagination %}

<div class="container-fluid" style="margin-top:10px;">

    <nav aria-label="...">
        <ul class="pagination">
            {% if not page_obj.has_previous %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
            </li>
            {% endif %}

            {% for page in page_obj.paginator.page_range %}

            {% if page == page_obj.number %}
            <li class="page-item active">
                <a class="page-link" href="?page={{page}}">{{ page }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{page}}">{{ page }}</a>
            </li>
            {% endif %}

            {% endfor %}

            {% if not page_obj.has_next %}
            <li class="page-item disabled">
                <a class="page-link" href="#">Next</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{  page_obj.next_page_number  }}">Next</a>
            </li>
            {% endif %}
        </ul>
    </nav>


</div>


{% endblock %}


<!--
    <a href="#" class="list-group-item list-group-item-action active">
            Cras justo odio
        </a>
-->