{% extends "generic_base.html" %}

{% block form %}
<div class="container-fluid">
    <form method="post" {% if index %} action="{% url 'todoitem_create' %}" {% endif %}>
        {{ form.non_field_errors }}
        <div class="form-group">
            {% csrf_token %}
            <label for="exampleInputEmail1" style="margin-bottom:5px">Todo item</label>
            <input type="text" class="form-control" id="item_id" aria-describedby="emailHelp"
                placeholder="Enter your item" name="item" value="{{ form.item.value }}">
            <small id="emailHelp" class="form-text text-muted"> {{ form.item.errors }}</small>
            <button type="submit" class="btn btn-primary" style="margin-top:5px">Submit</button>
        </div>


    </form>

</div>
{% endblock %}