{% extends "generic_base.html" %}


{% block content %}

<div style="display: block">
    <div class="card text-dark bg-light mb-3" style="max-width: 18rem;text-align: center;  width: 50%;margin: 0 auto;">
        <div class="card-header">ITEM DETAILS
        </div>
        <div class="card-body" style="text-align: center;">
            <h5 class="card-title">{{ todoitems.item }}</h5>
            <p class="card-text">{{ todoitems.last_modified }}</p>

            <form method="get" action="{% url 'todoitem_update' pk=todoitems.id %}" style="margin-bottom: 10px;">
                <button type="submit" class="btn btn-success btn-sm">Update</button>
            </form>

            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                data-bs-target="#myModal">Delete</button>
        </div>
    </div>
</div>

<!-- Modal -->
<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Deletion alert</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                Are you sure to delete ?
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <form method="post" action="{% url 'todoitem_delete' pk=todoitems.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>

            </div>

        </div>
    </div>
</div>

{% endblock%}