{% extends 'generic_base.html' %}
{% block login %}

<div style="width:20%; margin:0 auto;">

<form method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1">Username</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter username" name="username">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
    
  </div>

  <button type="submit" class="btn btn-primary" style="margin:0 auto; display:block">Submit</button>
   {% if form.errors %}
    <p style="color:red">Your username and password didn't match. Please try again.</p>
  {% endif %}
</form>
 <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
</div>

{% endblock %}