{% extends 'generic_base.html' %}
{% block login %}

<div>

    {% if validlink %}
       
        <p>Please enter (and confirm) your new password.</p> <br/>
        
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleInputPassword1">New Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="New Password" name="new_password1">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Confirm Password</label>
                <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Confirm Password" name="new_password2">
            </div>
            {% if form.new_password1.errors %}
                <p>{{ form.new_password1.errors }}</p>
            {% elif form.new_password2.errors %}
                <p>{{ form.new_password2.errors }}</p>
            {% endif %}
            <button type="submit" class="btn btn-primary">Change password</button>
        </form> 
    
    {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}

</div>
    


{% endblock %}