{% extends 'generic_base.html' %}
{% block login %}

<div style="width:20%; margin:0 auto;">

{% if form.email.errors %}
    <p>{{ form.email.errors }}<p/>
{% endif %}

<form method="post" action="">
    {% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email">
  </div>
  <button type="submit" class="btn btn-primary">Reset password</button>
</form>

</div>

{% endblock %}